################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRNG/PRNG/bin/Debug
/PRNG/PRNG/obj/Debug
/PRNG/bin/Debug
/PRNG/obj/Debug
